*{
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
    color: darkgreen;

}


nav{

ul {
    list-style: none;
    padding:10px;
    background-color: seagreen;
}
  
li {
    list-style: none;
    display: inline;
}
 
li a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

}
 
div{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

form{
    margin-left:15px;
}

body{
    margin:0px;
    background-color: honeydew;
}

.button{
    background-color: seagreen;
    color: white;
    border: none;
    padding: 8px 15px;
}