*{
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
    color: darkgreen;

}


nav{
 

ul {
    list-style: none;
    margin-top: 0px;
    padding:15px;
    background-color: seagreen;
}
  
li {
    list-style: none;
    display: inline;
}
 
li a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

}
 
div{
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

form{
    margin-left:15px;
}

body{
    margin:0px;
    background-color: honeydew;
}

.button{
    background-color: seagreen;
    color: white;
    border: none;
    padding: 8px 15px;
}

button{
    background-color: seagreen;
    color: white;
    border: none;
    padding: 8px 15px;
}

table{
    width: 75%;
    tr:nth-child(odd){background-color: white;}
    tr:nth-child(even){background-color: lightgreen;}

    td{
        padding: 15px;
    }
}


.button-container {
    display: flex;
    background-color: lightgreen;
    gap: 20px;
    margin: 20px;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
  }