*{
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
    color: midnightblue;

}

ul {
    list-style: none;
    padding:10px;
    background-color: steelblue;
}
  
li {
    list-style: none;
}
 
li a{
    color: aliceblue;
    text-decoration: none;
}

li a:hover {
  color:white;
  }
 
div{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

form{
    margin-left:15px;
}

body{
    margin:0px;
    background-color: aliceblue;
}